body{
    background-color: #212121;
    color: white;
    text-align: center;
    align-items: center;
}
 
section{
    background-color: #373737;
    height: 600px;
    margin: 30px 30px 30px 30px;
    border-radius: 15px;
}

label{
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

img{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 450px;
    height: 450px;
}

form, #error{
    display: block;
    padding-top: 10px;
}

#link, #enviar{
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(129, 23, 150);
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

#infos{
    display: inline-block;
    position: relative;
    align-content: center;
}
