<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>QRCode Flask</title>
</head>
<body>
    <header>QRCode Generator</header>
    <section>
        <div id="error">
            <p>Foi encontrado um erro durante o processamento do QRCode, verifique se não deixou nenhum espaço em branco</p> 
            <button id="link" onclick="window.location.replace('/menu')">Menu principal</button>
        </div>
    </section>
    <footer>Feito com ❤️ por Vinícius usando Flask</footer>
</body>
</html>